@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes letterPlaced {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

@keyframes letterFlipGreen {
  0% {
    transform: scaleY(1);
    border-color: white;
  }
  50% {
    transform: scaleY(0);
    border-color: white;
  }
  100% {
    transform: scaleY(1);
    background-color:rgb(0 190 90);
    border-color: rgb(0 190 90);
  }
}

@keyframes letterFlipYellow {
  0% {
    transform: scaleY(1);
    border-color: white;
  }
  50% {
    transform: scaleY(0);
    border-color: white;
  }
  100% {
    transform: scaleY(1);
    background-color: rgb(235 169 44);
    border-color: rgb(235 169 44);
  }
}

@keyframes letterFlipNone {
  0% {
    transform: scaleY(1);
    border-color: white;
  }
  50% {
    transform: scaleY(0);
    border-color: white;
  }
  100% {
    transform: scaleY(1);
    background-color: rgb(44 57 74);
    border-color: rgb(44 57 74);
  }
}

@keyframes keyRevealGreen {
  to {
    background-color: rgb(0 190 90);
  }
}

@keyframes keyRevealYellow {
  to {
    background-color: rgb(235 169 44);
  }
}

@keyframes keyRevealNone {
  to {
    background-color: rgb(44 57 74);
  }
}